<template id="filtered-content-template">
    <link rel="stylesheet" href="../../../components/PaymentController/FilteredContent/FilteredContent.css">
    <div class="filtered-content-container">
        <filtered-payments></filtered-payments>
        <filtered-charts></filtered-charts>
    </div>
</template>
<link rel="import" href="../../../components/PaymentController/FilteredContent/FilteredCharts/FilteredCharts.html">
<link rel="import" href="../../../components/PaymentController/FilteredContent/FilteredPayments/FilteredPayments.html">
<script src="../../../components/PaymentController/FilteredContent/FilteredContent.js"></script>