<template id="simple-filter-template">
    <link rel="stylesheet" href="../../../components/PaymentController/SimpleFilter/SimpleFilter.css">
    <div class="simple-filter-container">
        <div class="left-wrapper">
            <add-button>add payment</add-button>
            <divider-line></divider-line>
        </div>
        <div class="right-wrapper">
            <divider-line></divider-line>
            <search-input></search-input>
            <divider-line></divider-line>
            <div class="button-wrapper">
                <extend-button>extended filters</extend-button>       
            </div>
        </div>
    </div>
</template>
<link rel="import" href="../../../components/PaymentController/SimpleFilter/AddButton/AddButton.html">
<link rel="import" href="../../../components/PaymentController/SimpleFilter/SearchInput/SearchInput.html">
<link rel="import" href="../../../components/PaymentController/SimpleFilter/ExtendButton/ExtendButton.html">
<link rel="import" href="../../../components/PaymentController/SimpleFilter/DividerLine/DividerLine.html">
<script src="../../../components/PaymentController/SimpleFilter/SimpleFilter.js"></script>