<template id="payment-controller-template">
        <link rel="stylesheet" href="../../components/PaymentController/PaymentController.css">
        <div class="payment-controller-container">
            <simple-filter></simple-filter>
            <extended-filter></extended-filter>
            <filtered-content></filtered-content>
        </div>
    </template>
    <link rel="import" href="../../components/PaymentController/PopUp/NewPaymentForm/NewPaymentForm.html">
    <link rel="import" href="../../components/PaymentController/PopUp/PopUp.html">
    <link rel="import" href="../../components/PaymentController/SimpleFilter/SimpleFilter.html">
    <link rel="import" href="../../components/PaymentController/ExtendedFilter/ExtendedFilter.html">
    <link rel="import" href="../../components/PaymentController/FilteredContent/FilteredContent.html">
    <script src="../../components/PaymentController/PaymentController.js"></script>